<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.familydoctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/backround_agri_help"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="android.familydoctor.Sign_in">
        </activity>

        <activity android:name="android.familydoctor.MainActivity">

        </activity>

        <activity
            android:name="android.familydoctor.Activity.Them_HoSoBenhAn"
            android:parentActivityName="android.familydoctor.Sign_in" />
        <activity
            android:name="android.familydoctor.Activity.ThongTinUngDung"
            android:parentActivityName="android.familydoctor.Sign_in" />
        <activity
            android:name="android.familydoctor.Activity.CaiDat_TaiKhoan"
            android:parentActivityName="android.familydoctor.Sign_in" />
        <activity
            android:name="android.familydoctor.Activity.CapNhatThongTinCaNhan_Act"
            android:parentActivityName="android.familydoctor.Sign_in" />
        <activity
            android:name="android.familydoctor.Activity.XemTTBacSi_Act"
            android:parentActivityName="android.familydoctor.Sign_in" />
        <activity
            android:name="android.familydoctor.Activity.XemTTBenhNhan_Act"
            android:parentActivityName="android.familydoctor.Sign_in" />
        <activity
            android:name="android.familydoctor.Activity.TimKiem_Act"
            android:parentActivityName="android.familydoctor.Sign_in" />
        <activity android:name="android.familydoctor.Activity.User_Edit" />

        <activity
            android:name="android.familydoctor.Activity.LuaChonLoaiTaiKhoanActivity"
            android:parentActivityName="android.familydoctor.Sign_in" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>